.Board{
  & .winner{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
    visibility: hidden;
    &.visible{visibility: visible;}
  }
  & table{
    border-collapse: collapse;
    & .Cell{
      border: 1px solid #aaa;
      width: 20px; height: 20px;
      padding: 20px;
      cursor: pointer;
      &:hover{background-color: #eee;}
      &.checked{
        background-color: #000;
        color: #fff;
      }
      &.invalid{
        color: red;
      }
    }
  }
  & .options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    & button{
      border-radius: 5px;
      padding: 5px;
      outline: none;
      &:not(:disabled):hover{
        text-shadow:0px 0px 1px #000;
        cursor: pointer;
      }
    }
  }
}
